body {
    background-color: #282a35;
    font-family: Consolas, monospace !important;
}
CommandConsole {
    width: 100%;
    height: 25%;
}

span.attr {
    color: greenyellow
}

span.attrValue {
    color: hotpink
}